*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body , html{
overflow-x: hidden;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('Hacker.webp');
    background-position: bottom;
    background-size:cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.header-content{
    margin-bottom: 150px;
    color:aliceblue;
    text-align: center;
}
.header-content h2{
    font-size: 5vmin;
}
.line{
    width:100px;
    height: 4px;
    background-color: brown;
    margin: 10px auto;
    border-radius: 3px;
}
h3{
    margin: 15px auto;
    font-size: 10vmin;

}
.btn{
    padding: 10px 20px;
    background-color: rgb(151, 12, 12);
    border-radius: 25px;
    color: whitesmoke;
    text-decoration: none;
}
.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
    color: whitesmoke;
}
ul{
    list-style: none;
}
.nav-links{
    display: flex;
    align-items: center;

}
.nav-links li a{
    color: whitesmoke;
    text-decoration: none;
}
.nav-links li{
    margin: 0 30px;
   
}
li a:hover{
    background-color: whitesmoke;
    color:black;
    padding: 15px 25px;
    border-radius: 30px;
}
.logo{
    font-size: 8vmin;
    
}
section{
    width: 80%;
    margin: 80px auto;

}
.title{
    text-align: center;
    font-size: 5vmin;
    color:brown;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.courses .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    margin: 20px auto;
    color:rgb(163, 27, 27);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    padding: 0px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span{
    color:brown;
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.info{
    width: 100%;
    height: 80vh;
    background: rgb(168,12,12);
background: linear-gradient(90deg, rgba(168,12,12,0.8519782913165266) 29%, rgba(0,10,11,0.773546918767507) 86%);


}
.text{
    width:80%;
    padding:50px;
    color:whitesmoke;
   
}
.text h1{
    font-size: 7vmin;
    margin: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.text .btn{
  margin: 50px 50px;
}
.text p{
    margin-bottom: 40px;
}
.text .line{
    width: 250px;
    height: 6px;
    margin:  20px 45px;
    background-color: rgb(37, 34, 34);
}


.gallery .books{
display: flex;
flex-wrap: wrap;
}
.books img{
    max-width:250px;
    height: 250px;
    margin: 5px;
}
.gallery .row .col{
    width: 50%;
}
.gallery h2{
    
    font-size: 5vmin;
    

}
.gallery .row{
    width: 100%;
}

.gallery .btn{
margin:auto 75px ;
}


.footer{
    width: 100%;
    min-height: 100px;
    padding:10px 80px;
    margin: 0;
    background-color: rgb(51, 50, 50);
    color: whitesmoke;
    text-align: center;
}
.footer p{
    margin: 20px auto;
    padding: 20px auto;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;

    display: none;

}

/* for mobile */
@media only screen and (max-width:640px){
    /*courses*/
    .row{
        flex-direction: column;
    }
    .col img{
        max-width: 90%;

    }
    .row .col{
        margin: 20px auto;
    }



    .text{
        width: 100%;

    }
    .text p{
        font-size: 3vmin;
    }
    .gallery .row{
        width: 100%;
    }
  .gallery col{
        width: 100%;
    }
   

    /*navbar*/
    .navbar{
        padding: 0;

    }
    .logo{
        position:absolute;
        top:30px;
        left:30px;
    }
    .nav-links{
        margin-top: -900px;
        flex-direction: column;
        width:100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(226, 101, 101);
    }
    .mobile-menu{
        margin-top: 0;
    }
    .nav-links li{
        margin: 30px auto;
    
    }
    .menu-btn{
        display: block;
    }
}
